[Unit]
Description=prysm service
After=network.target

[Service]
Type=simple
SyslogIdentifier=prysm
ExecStart=bash {{ base_dir }}/prysm/start_node.sh
User=root
Restart=on-failure
StartLimitInterval=5
RestartSec=3
TimeoutStopSec=180

[Install]
WantedBy=multi-user.target